{% load static %}
<!doctype html>
<html>

<head>
	<title>Good Listener</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/page_style.css' %}">
</head>

<body>
	<div class="header">
		<h4>Good Listener</h4>
	</div>
	<div class="tmp_title">
		<h1>STT Reult</h1>
	</div>
	<div class="stt_result">
		<span class="stt_text_box">
			<h3 id="stt_text"></h3>
		</span>
	</div>
	<div class="audio_player">
		<audio id="player" controls></audio>
	</div>
	<div class="botton_list">
		<button id="record">RECORD</button>
		<button id="stop">STOP</button>
	</div>
	<script src="{% static 'js/myRecord.js' %}"></script>
</body>

</html>