html, body {
    background-color: white;
}

li {
    list-style: none;
}

#wrap {
    overflow:auto;
    margin: 0px;
}
 
.left, .right {
    float:left;
    height: 1000px;
}
 
.left {
    width:50%;
    text-align: center;
    background-color : white;
    border-right: solid 1px;
}

.right {
    width : 50%;
    text-align: center;
    background-color : white;
}

#button_var {
     background-color: #343a40;
     text-align: left;
     padding-bottom: 5px;
}

.option_btn {
    border: #343a40;
    background-color: #343a40;
    margin: 3px;
    padding: 9px;
}

#home_btn {
    margin-top: 8px;
    margin-left: 31px;
    color: white;
}

#user_text {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

#audio_stt_result_list {
    text-align: left;
    border: #343a40;
    margin: 3% 5%;
    height: 75%;
}

.audio_stt_result {
    display: inline;
    margin: 10px 3px;
}

#record_btn {
    padding: 15px 25px;
}

.state_var {
    text-align: right;
}

#state_text {
    margin-right: 15px;
    color: black;
}